<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>商品上下架</title>

    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css" />
    <script src="../../vue/Vue.js"></script>
    <script src="../../vue/axios.min.js"></script>
    <script src="../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../vue/jquery-2.1.4.js"></script>
    <style>
        #putaway-page{
            left: 32%;
            top: 70%;
            position: absolute;
        }
        table tr{
            height: 80px;
        }
    </style>
</head>

<body>
<div class="wrap-container clearfix">
    <div class="column-content-wrap" id="shangjia">

        <div class="layui-form-item">
            <!--<div class="layui-inline tool-btn">
                <button class="layui-btn layui-btn-small layui-btn-normal addBtn" data-url="article-add.html"><i class="layui-icon">&#xe654;</i></button>
                <button class="layui-btn layui-btn-small layui-btn-danger delBtn"  data-url="article-add.html"><i class="layui-icon">&#xe640;</i></button>
                <button class="layui-btn layui-btn-small layui-btn-warm listOrderBtn hidden-xs" data-url="article-add.html"><i class="iconfont">&#xe656;</i></button>
            </div>-->
            <div class="layui-inline">
                <input type="text"  v-model="soushou" name="title" required lay-verify="required" placeholder="请输入产品类型"    autocomplete="off" class="layui-input">

            </div>
            <div class="layui-inline">
                <select name="states" lay-filter="status" lay-verify="required" class="layui-input" v-model="select2"  @change="getValue()">
                    <option value="">请选择一个状态</option>
                    <option v-for='item in optionList' :value="item.name">{{ item.text }}</option>
                </select>
            </div>
            <button class="layui-btn layui-btn-normal" lay-submit="search" @click="sou()">搜索</button>
        </div>

        <div class="layui-form" id="table-list">

            <table class="layui-table" lay-even lay-skin="nob" >
                <!-- <colgroup>
                     <col width="50">
                     <col class="hidden-xs" width="50">
                     <col class="hidden-xs" width="100">
                     <col class="hidden-xs" width="150">
                     <col class="hidden-xs" width="150">
                     <col width="80">
                     <col width="150">
                 </colgroup>-->
                <thead>
                <tr style="height: 50px">
                    <th class="hidden-xs" >商品ID</th>
                    <th>商品编号</th>
                    <th>商品名</th>
                    <th>商品类型</th>
                    <th>单价</th>
                    <th>预售状态</th>
                    <th>促销状态</th>
                    <th>上架状态</th>
                    <th>操作</th>
                    <!--<th class="hidden-xs">修改时间</th>-->
                </tr>
                </thead>
                <tbody>
                <tr v-for="s in info" style="height: 50px">
                    <td>{{s.productId}}</td>
                    <td>{{s.productCode}}</td>
                    <td>{{s.productName}}</td>
                    <td>{{s.productType}}</td>
                    <td>{{s.price}}</td>
                    <td v-if="s.presellStatus==0">非预售状态</td>
                    <td v-else>预售状态</td>
                    <td v-if="s.promotionStatus==0">非促销状态</td>
                    <td v-else>促销状态</td>
                    <td v-if="s.onStatus==1">未上架</td>
                    <td v-else-if="s.onStatus==2">已上架</td>
                    <td v-else>已下架</td>
                    <td v-if="s.onStatus==1"><button  class="layui-btn layui-btn-small layui-btn-normal " data-id="1" data-url="article-detail.html" @click="delData(s.productCode,s.onStatus)">上架</button></td>
                    <td v-else-if="s.onStatus==2" ><button class="layui-btn layui-btn-small layui-btn-normal " data-id="1" data-url="article-detail.html" @click="delData(s.productCode,s.onStatus)">下架</button></td>
                    <td v-else="s.onStatus==3" ><button class="layui-btn layui-btn-small layui-btn-normal " data-id="1" data-url="article-detail.html" @click="delData(s.productCode,s.onStatus)">上架</button></td>

                </tr>
                </tbody>
            </table>

            <div id="putaway-page" style="text-align: center;"></div>
            <!--       <button class="layui-btn layui-btn-normal" lay-submit="search" @click="an()" >test</button>-->

        </div>
    </div>
</div>
<script type="text/javascript">

    var vue=   new Vue({
        el:"#shangjia",
        data:{
            select2:"",
            soushou:"",
            zong:"",
            optionList: [ { text: '未上架', name: '1' }, { text: '已上架', name: '2' }, { text: '已下架', name: '3' }],
            info:"",
        },
        mounted(){

            axios
                .get('/findAll')
                .then(response => (
                this.info=response.data))
        .catch(function (error) { // 请求失败处理
                console.log(error);
            });
        },
        methods:{
            delData:function(a,b){
                var params = new URLSearchParams();
                params.append("a",a);
                params.append("b",b);
                params.append("soushou",this.soushou);
                params.append("select2",this.select2);
                axios({
                    method: 'post',
                    url:'/update',
                    data: params
                }).then(response => (this.info=response.data))
            .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },
            sou:function () {
                var params = new URLSearchParams();
                params.append("soushou",this.soushou);
                params.append("select2",this.select2);
                axios({
                    method: 'post',
                    url:'/souState',
                    data: params
                }).then(response => (this.info=response.data))
            .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },
            getValue:function(){
                /!*  alert(this.select2)*!/
            },
            an:function () {
                alert(this.zong)
            }
        },


    });
    /*进入页面后自动获取总页数*/
    var a=0;
    $.ajax({
        url: "/findAllPage",
        type: "post",
        dataType: 'text json',
        async: false,
        success: function (data) {
            a=data;
        }
    });

    /*翻页代码*/
    var b=11;
    var totalCount = 0;
    layui.use(['laypage','layer'],function () {
        var laypage =layui.laypage,
            layer = layui.layer;
        //分页
        laypage({
            cont: 'putaway-page'
            ,pages: a
            ,last: a
            ,groups:5
            ,skip:true
            ,skin: '#1E9FFF',
            /*下面是翻页面的时候就执行的/*/
            jump:function (obj,first) {
                var param = {
                    soushou: vue.soushou,
                    select2:vue.select2,
                    currPage: obj.curr,
                    //其它查询条件可在下面添加
                };
                /*判断不是进入页面,而且是手动翻页的时候执行*/
                if (!first){
                    $.ajax({
                        url:"/productFenYe",
                        data: param,
                        type: "post",
                        dataType: 'text json',
                        async: false,
                        success: function (data){
                            /*翻页后的内容赋值给vue,然后刷新在页面上*/
                            vue.info = data;
                        }
                    })
                }
            }
        });
    });

</script>
</body>

</html>